.login-container {
  width: 30%;
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px;
}

.sign-up-container{
  width: 60%;
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sign-up-text{
  margin-top: 20%;
  margin-left: 25%;
}

.login-button {
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #1d702d;
}

.sign-up-button{
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
  background-color: #1d702d;
}

body{
  background-color: #fafafa;
}

.navbar-color{
  background-color: white;
}

/*h1, h2, h3, h4, h5, h6, a, p, span{*/
  /*font-family: 'Montserrat', sans-serif;*/
/*}*/

h1, h2, h3, h4, h5, h6, a, p, span{
  font-family: "Lato Medium", Lato,serif;
}


.facebook-logo, .google-logo{
  width: 16px;
}

.facebook-google-divider{
  font-size: 20px;
  margin: 10px;
}

.custom-input-field{
  margin-bottom: 10px !important;
}

.logo-img-top-nav {
  width: 250px;
  margin: auto;
}

.logo-image-dashboard-top-nav{
  width: 130px !important;
  margin: auto;
  margin-top: 10px;
}

.footer-logo{
  width: 250px;
  margin: auto;
  margin-top: 10px;

}

.nav-custom{
  height: 80px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-nav{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-course-nav-bar{
  box-shadow: none;
  padding-left: 7.5%;
  padding-right: 6.5%;
  margin: 0;
  background-color: #ffff;
}

.custom-card{
  width: inherit;
}


.image-course-card{
  width: 100% !important;
  height: 200px;
}

.image-course{
  height: inherit;
}

.nav-container{
  width: 70%;
  margin: 0 auto;
}
.course-overview-container{
  padding-left: 100px;
  padding-right: 100px;
}

.forget-password, .sign-up-link{
  padding-top: 10px;
  text-align: center;
}

.card-text-panel{
  margin-right: 25%;
  margin-left: 25%;
}

.card-text{
  text-align: center;
}

.enrol-btn{
  margin-left: 32%;
}

hr {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  color : #f9fbe7;
}

.continue-course-card{
  margin-top: 30px;
}

.background-color{
  background-color: #827717;
}

.course-in-progress{
  margin-top: 50px;
  width: auto !important;
  margin-right: 90px !important;
}

.course-image{
  width: 250px;
}

.text-center{
  text-align: center;
}

.form-container, .settings-container{
  margin-top: 50px;
  margin-right: 40px;
}

.form-color{
  background-color: white;
}

.side-nav-custom{
  margin-top: 64px;
  overflow: hidden;
}

.save-changes-button, .save-review-course-button{
  margin-bottom: 40px;
  text-align: center;
}

.button-radius{
  border-radius: 40px;
}

.card-image{
  width: 30%;
}

.course-card{
  height: 215px;
}

.side-nav, .logout-link{
  overflow: scroll;
}

.image-user-view{
  margin-left: auto;
  margin-right: auto;
}

.name-user-view{
  padding-bottom: 20px;
  text-align: center
}

.create-course-button{
  width: 200px;
}

.create-course-card, .course-stat{
  margin-top: 30px;
  margin-bottom: 30px;
}

.view-stat-btn{
  width: 100%;
}

.create-course-form{
  margin: 40px;
}

.upload-file{
  border: 0 !important;
}

.save-review-course{
  float: right;
}

.course-create-breadcrumbs{
  margin-bottom: 30px;
}

#list-breadcrumbs{
  color: #827717;
}

#video-frame{
  width: 95%;
  margin-top: 70px;
  margin-left: 50px;
}

.classroom-side-nav{
  width: 400px;
}

.video-section{
  box-shadow: none;
}

.video-next-button{
  float: right;
}

.classroom-card{
  box-shadow: none;
}

.course-progress-icon{
  color: #9e9d24 !important;
  font-size: 20px !important;
}

.section-text{
  color: #000000;
}

.section-divider{
  margin: 10px;
}

.button-text{
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .login-container{
    width: 100%;
  }

  hr{
    width: auto;
  }

  .input-field.col.s6, .input-field.col.s12, .file-path.validate.col.s3, .btn.lime.darken-2.button-radius,
  .manage-profile-inst-btn-col.col.s3{
    width: 100%;
  }

  .logo-image-dashboard-top-nav{
    width: 150px;
  }
}